%h1 Home#index
%p Find me in app/views/home/index.html.haml

%ul
  %li
    =link_to 'User Log In', new_user_session_path
  %li 
    =link_to 'User Sign Up', new_user_registration_path
  %li
    =link_to 'All Users', users_path
