- if user_signed_in? && current_user.user_type == "Buyer"
  .div.main-header 
    .div.logo
      =image_tag "logo/logo.png", width: "auto", height: "120px"
    .span.nav-bar-link
      =link_to 'Home', root_path
    .span.nav-bar-link
      =link_to 'Wallet', wallets_path
    .span.nav-bar-link
      =link_to 'Portfolio', portfolios_path
    .span.nav-bar-link
      =link_to 'Market', markets_path
    .span.nav-bar-link
      =link_to 'Log Out', destroy_user_session_path, method: :delete


  .div.account-welcome-container
    %h1.account-header= "Hello, #{current_user.username}!"
    %p.account-sub You're almost ready to invest! Add funds to your wallet.
