// Place all the styles related to the Buyer controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "application";

.all-portfolios-container {
  width: 90vw;
  margin: 0;
  position: absolute;
  top: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 45px;
}

.portfolio-header-6 {
  width: 120px;
  text-align: center;
  padding: 10px;
}

.portfolio-header-10 {
  width: 265px;
  text-align: center;
  padding: 10px;
}

.portfolio-table-column {
  background-color: $lighter-grey;
  overflow: hidden;
  vertical-align: middle;
  font-size: smaller;
}
